@page "/todo"

<PageTitle>لیست کار</PageTitle>

<h1>تعداد کارهای انجام نشده @todos.Count(t=> !t.IsDone)</h1>

<ul>
@foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone">
            <input @bind="todo.Title">
        </li>
    }
</ul>

<input placeholder="عنوان کاری که قرار است انجام دهید" @bind="newtodo"/>
<button @onclick="AddTodo">اضافه کردن</button>

@code {
    private string? newtodo;
    private List<TodoItem> todos = new ();

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newtodo))
        {
            todos.Add(new TodoItem { Title = newtodo });
            newtodo = string.Empty;
        }
    }
}
